body {
  height: 100vh ;
  background-color: #151b48;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: auto;
  height: auto;
  padding: 30px 70px 30px 40px;
  background-color: #362d77;
  border: #474170 solid 4px;
  display: inline-block;
}

h3 {
  color: aliceblue;
  font-weight: 400;
}

p {
  color: #ffffff;
  display: flex;
  gap: 10px;
  justify-content: end;
}

form #btResultado {
  margin: 10px 0px 0px 170px;
  width: 80px;
  height: 25px;
  font-size: 13.5px;
}

form #btResultado:hover {
  background: #f1f1f1;
  cursor: pointer;
}
